<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.title}">Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<nav class="bg-blue-500 p-4" mb-4>
    <div class="container mx-auto flex justify-between items-center">
        <a class="text-white text-2xl font-bold" href="#">Your Logo</a>
        <div class="hidden md:flex space-x-4" sec:authorize="not isAuthenticated()">
            <a class="text-white hover:text-blue-300" href="/register" th:href="@{/register}">Register</a>
            <a class="text-white hover:text-blue-300" href="/login" th:href="@{/login}">Login</a>
        </div>
        <div class="hidden md:flex space-x-4" sec:authorize="isAuthenticated()">
            <a class="text-white hover:text-blue-300" href="/logout" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>
<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>
</body>
</html>