<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.title}">Title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="bg-gray-200 flex items-center justify-center h-screen">
<div class="bg-white p-8 rounded shadow-md w-full max-w-sm">
    <h2 class="text-2xl mb-5 font-semilight text-slate-500">Nice to see you again!</h2>
    <form method="post" th:action="@{/login}">
        <div class="mb-4" th:if="${status=='invalid_email_or_password'}">
            <p class="text-red-500">Invalid email or password</p>
        </div>
        <div class="mb-4" th:if="${status=='logged_out'}">
            <p class="text-green-500">You have been logged out</p>
        </div>
        <div class="mb-4">
            <i class="material-icons">face</i>
            <label class="block text-gray-700 font-light mb-2" for="email">Email:</label>
            <input class="border rounded w-full py-2 px-3" id="email" name="email" placeholder="email@example.com"
                   type="text">
        </div>
        <div class="mb-4">
            <i class="material-icons">key</i>
            <label class="block text-gray-700 font-light mb-2" for="password">Password:</label>
            <input class="border rounded w-full py-2 px-3 mb-2" id="password" name="password" placeholder="password"
                   type="password">
            <span class="material-symbols-outlined" id="show-password">visibility</span>
            <a class="block text-right text-blue-400" href="/forgot-password" th:href="@{/forgot-password}">Forgot
                Password</a>
        </div>
        <div class="py-2">
            <button class="block w-full bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" type="submit">
                Login
                <span class="material-symbols-outlined">input</span>
            </button>
        </div>
    </form>
    <div class="py-2">
        <p class="py-2 text-center text-slate-500">Don't have an account?&nbsp;
            <a class="text-slate-600 text-uppercase font-semibold" href="/register" th:href="@{/register}">
                Register<i class="material-icons-outline ml-2">send</i>
            </a>
        </p>
    </div>

    <div th:if="${clients}">
        <p class="mb-4 text-center text-slate-500">Or continue with:</p>

        <div class="my-4 flex justify-around" th:each="client : ${clients}">
            <a th:href="@{'/oauth2/authorization/' + ${client}}">
                <button class="flex items-center justify-center w-12 h-12 bg-gray-200 rounded-full">
                    <img alt="icon" class="w-8 h-8" src="../static/img/google.png"
                         th:src="@{'/img/' + ${client} + '.png'}">
                </button>
            </a>
        </div>
    </div>
</div>
</body>
</html>
