<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="bg-gray-200 flex items-center justify-center h-screen">
<div class="bg-white p-8 rounded shadow-md w-1/3">
    <h2 class="text-2xl font-semibold mb-4">Logout</h2>
    <p class="mb-4" sec:authorize="isAuthenticated()">Hello,&nbsp;<span sec:authentication="name"></span>!&nbsp;Click
        the button
        below to log out.</p>
    <p class="mb-4" sec:authorize="not isAuthenticated()">You are not logged in. There's nothing to log out from.</p>

    <form method="post" th:action="@{/logout}">
        <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" sec:authorize="isAuthenticated()"
                type="submit">Logout
        </button>
    </form>

</div>
</body>
</html>
